In [3]:
# write a python program to create a set
set1={True,0,7,5,"javeria","malik"}
print(set1)
set2={"jiya",90,6.7,"hello world"}
print(set2)

{0, True, 5, 'javeria', 7, 'malik'}
{90, 'hello world', 'jiya', 6.7}

In [4]:
#iteration in  python 
set1={True,0,7,5,"javeria","malik"}
for item in set1:
    print(item)

0
True
5
javeria
7
malik

In [5]:
#union
print(set1.union(set2))

{0, True, 5, 'javeria', 7, 'jiya', 6.7, 'malik', 90, 'hello world'}

In [7]:
#add
set1.add("heart")
print(set1)

{0, True, 5, 'javeria', 7, 'heart', 'malik'}

In [8]:
#remove
set1.remove("javeria")
print(set1)

{0, True, 5, 7, 'heart', 'malik'}

In [13]:
set1={0,8,6,4,5}
copy=set1.copy()
for i in copy:
    i=0
    if 6 in set1:
        set1.remove(6)
print(i)

0

In [ ]:
set3={9,0,6,5,3}
set4={9,10,17,6,3}
print

In [20]:
set1 = {0, 8, 6, 4, 5}
copy = set1.copy()
for i in copy:
    i = 0
    if 6 in set1:
        set1.remove(6)
print(set1)

{0, 4, 5, 8}

In [1]:
# union set
set1={9,8,6,0}
set2={9,6,5,3}
print(set1.union(set2))

{0, 3, 5, 6, 8, 9}

In [3]:
# add 
set3=set1.add(4)
print(set1)

{0, 4, 6, 8, 9}

In [10]:
# remove 
set2={9,6,5,3}
set2.remove(6)
print(set2)

{9, 3, 5}

In [13]:
#set differnec(print all the values which are in first set not in sexcond one after subtraction )
name_persons={"jiya","hassan","zain","abdul waahab"}
name_person={"jiya","good girl"}
good=name_persons.difference(name_person)
print(good)

{'hassan', 'zain', 'abdul waahab'}

In [14]:
# symmetric_difference
name_persons={"jiya","hassan","zain","abdul waahab"}
name_person={"jiya","good girl"}
good=name_persons.symmetric_difference(name_person)
print(good)

{'hassan', 'zain', 'abdul waahab', 'good girl'}

In [16]:
#subset
name_persons={"jiya","hassan","zain","abdul waahab"}
name_person={"jiya","good girl"}
print(name_persons.issubset(name_person))

False

In [17]:
#shallow copy
new_set=name_person.copy()
print(new_set)

{'jiya', 'good girl'}

In [18]:
import copy

set1 = {1, 2, [3, 4]}
set2 = copy.deepcopy(set1)

print(set2) # Output: {1, 2, [3, 4]}

set1[2][0] = 5

print(set1) # Output: {1, 2, [5, 4]}
print(set2) # Output: {1, 2, [3, 4]}

TypeError: unhashable type: 'list'

In [ ]:
he error message "TypeError: unhashable type: 'list'" is raised because you are trying to create a set that contains a list [3, 4]. However, lists are mutable objects and therefore cannot be hashed, which means they cannot be used as elements in a set.

In Python, sets can only contain hashable objects, which are objects that have a hash value that remains constant throughout the object's lifetime. Immutable objects like integers, strings, and tuples are hashable and can be used as elements in a set. However, mutable objects like lists and dictionaries are not hashable and cannot be used as elements in a set.

To fix this error, you can use a tuple instead of a list to represent your elements:

In [5]:
# remove alla lemnts
set1={9,6,5,3,0,6}
#set1.remove(set1[:]
print(set1)

TypeError: 'set' object is not subscriptable

In [8]:
set1={9,6,5,3,0,6}
del set1
#print(set1)

In [9]:
print(set1)

NameError: name 'set1' is not defined

In [11]:
# remove alla elemts of sets use clear()method
set1={9,6,5,3,0,6}
set1.clear()
print(set1)

set()

In [13]:
# frozen sets are sets in which we cant add and remove the values
set1={9,6,5,3,0,6}
my_frozenset=frozenset(set1)
print(my_frozenset)
my_frozenset.add(6)
print(my_frozenset)

frozenset({0, 3, 5, 6, 9})

AttributeError: 'frozenset' object has no attribute 'add'

In [14]:
# max value 
num={56.87,0,7,-6}
max_value=max(num)
print(max_value)

56.87

In [15]:
#min value
min_value=min(num)
print(min_value)

-6

In [16]:
#len set
print(len(set1))

5

In [17]:
#use of in problem 16
num={56.87,0,7,-6}
print(0 in num)

True

In [19]:
# Write a Python program to check if two given sets have no elements in common. 
num={7,8,9,0}
num2={6,5,4,2,1}
if num.isdisjoint(num2):
    print(True)
else:
    print(False)

True

In [21]:
# Write a Python program to check if a given set is a superset of itself and a superset of another given set.
num={7,8,9,0}
num2={6,5,4,2,1,7,8,9,0}
if num2.issuperset(num):
    print("great")
elif num2.issuperset(num2):
    print("strange")
else:
    print("false")

great

In [22]:
# Create two sets
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}

# Check if set_1 is a superset of itself using the issuperset() method
if set_1.issuperset(set_1):
    print("set_1 is a superset of itself.")
else:
    print("set_1 is not a superset of itself.")

# Check if set_1 is a superset of set_2 using the issuperset() method
if set_1.issuperset(set_2):
    print("set_1 is a superset of set_2.")
else:
    print("set_1 is not a superset of set_2.")

set_1 is a superset of itself.
set_1 is a superset of set_2.

In [31]:
#write a Python program to remove the intersection of a second set with a first set.
set_1 = {1, 2, 3, 4, 5}
set_2 = {1, 2, 3}
set3=set_1.intersection(set_2)
print(set3)
set3.clear()
print(set3)
print(set3.clear())

{1, 2, 3}
set()
None

In [30]:
# Create two sets
set_1 = {1, 2, 3, 4, 5}
set_2 = {3, 4, 5, 6, 7}

# Remove the intersection of set_2 with set_1 using the difference_update() method
set_1.difference_update(set_2)

# Print the updated set_1
print("Updated set_1: ", set_1)

Updated set_1:  {1, 2}

In [34]:
# method to remove intersection 
set1={"jiya","malik","second"}
set2={"jiya","malik","spmething"}
set1.difference_update(set2)
print(set1)

{'second'}

In [35]:
string_list = ['the quick brown fox', 'jumps over the lazy dog', 'the quick brown fox jumps over the lazy dog']

# Create an empty set to store unique words
unique_words = set()

# Iterate through each string in the list
for string in string_list:
    # Split the string into words
    words = string.split()

    # Add each word to the set of unique words
    unique_words.update(words)

# Iterate through the set of unique words
for word in unique_words:
    # Count the number of occurrences of the word in the list of strings
    count = sum([1 for string in string_list if word in string])

    # Print the word and its frequency of occurrence
    print(f"{word}: {count}")

quick: 2
jumps: 2
the: 3
brown: 2
dog: 2
over: 2
fox: 2
lazy: 2

In [17]:
str="hello jiya"
words=str.split()
print(words)
words = set(' '.join(str).split())
print(words)
count={}
for word in words:
        count[word] = sum(string.count(word) for string in str)
        return count

['hello', 'jiya']
{'e', 'j', 'h', 'a', 'o', 'i', 'y', 'l'}

SyntaxError: 'return' outside function (<ipython-input-17-009db1c4a58f>, line 9)

In [19]:
def count_words(strings):
    words = set(' '.join(strings).split())
    count = {}
    for word in words:
        count[word] = sum(string.count(word) for string in strings)
    return count

# Example usage
strings = ['the quick brown fox', 'jumps over the lazy dog']
print(count_words(strings))

{'lazy': 1, 'dog': 1, 'jumps': 1, 'the': 2, 'fox': 1, 'quick': 1, 'brown': 1, 'over': 1}

In [7]:
def count_words(strings):
    words=set(" ".join(strings).split())
    count={}
    for word in words:
        count[word]=sum(string.count(word)for string in strings)
    return count
strings="hello lady","nice to meet u "
print(count_words(strings))

{'lady': 1, 'to': 1, 'hello': 1, 'u': 1, 'nice': 1, 'meet': 1}

In [20]:
# Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.
def find_pairs(lst,target):
    pairs=[]
    for i in range(len(lst)):
        for j in range((i+1),len(lst)):
            if list[i]+list[j]==target:
                pairs.append((lst[i],lst[j]))
    return pairs
list = [2, 4, 6, 8, 10]
target = 12
result = find_pairs(list, target)
print(result)

[(2, 10), (4, 8)]

In [16]:
def find_pairs(lst, target):
    pairs = []
    for i in range(len(lst)):
        for j in range((i + 1), len(lst)):
            if list[i] + list[j] == target:
                pairs.append((lst[i],lst[j]))
    return pairs

list = [2, 4, 6, 8, 10]
target = 12
result = find_pairs(list, target)
print(result)

[(2, 10), (4, 8)]

In [1]:
#Write a Python program to find the longest common prefix of all strings. Use the Python set. 
def remove_duplicates(str):
    unique = set(str)
    return list(unique)
str=["7","9","4","3","38","6","3"]
unique=remove_duplicates(str)
print(unique)

['38', '9', '3', '6', '7', '4']

In [2]:
str=["7","9","4","3","38","6","3"]
str2=set(str)
print(str2)

{'38', '9', '3', '6', '7', '4'}

In [12]:
# write a python program to get the larget number
def largest_number(str):
    unique=set(str)
    if len(unique)<3:
        return("not eligible")
    else:
        sorted_list=sorted(unique,reverse=True)
        return(sorted_list[2])
str=[8,6,4,3,3,4,5,9]
unique=largest_number(str)
print(unique)

6

In [9]:
def find_third_largest(numbers_list):
    unique_numbers = set(numbers_list)
    if len(unique_numbers) < 3:
        return "Not enough unique numbers to find the third largest."
    else:
        sorted_numbers = sorted(unique_numbers, reverse=True)
        return sorted_numbers[2]
numbers_list = [2, 5, 8, 1, 9, 5, 3, 8]
third_largest = find_third_largest(numbers_list)
print(third_largest)

5