In [3]:
# function arguments 
# as we know that function are block of code whuch can we use at one or more time 
def average(a,b):
    print("the average is ",(a+b)/2)
average(7,8)# one way to find average
# the other way is 
a=8
b=80
average(a,b)

the average is  7.5
the average is  44.0

In [9]:
# function of mean
def mean (a,b):
    mean=a+b*a+b-a
    print(mean)
a=7
b=4
mean(a,b)
average(a,b)

32
the average is  5.5

In [6]:
# types of function argumnets
#1.default argumnets
# it is possible to give values while making the function like
def add(a=8,b=9):
    add=a+b
    print(add)
add()# the above is an example of default argument
#just in case we want to remove the value of argumnet we add this like
add(6,80)# it will ignore the 8,9 previous value
# if we want to change only one value then
add(7)# it change a value and b value use default value
# if we want to change the value of b
add(b=90)
# default arguments in term of string
def name(firstname="javeria",middlename="malik",lastname="jm"):
    print("hello",firstname,middlename,lastname)
name()
name("mj")

17
86
16
98
hello javeria malik jm
hello mj malik jm

In [16]:
# require argument
#which is compulsory to give
def average(a,b,c=9):
    pro=(a+b+c)/3
    print(pro)
    # here is a,b are require argument compulsory to give
average(5,6)
a=9
b=8
c=80
average(a,b,c)
average(a=4,b=90)

6.666666666666667
32.333333333333336
34.333333333333336

In [1]:
# variable argument
# for variable argumnet
def average(*numbers):
    print(type(numbers))
    sum=4
    for i in numbers:
        sum=sum+i
    print("average is",sum/len(numbers))
average(80,9)

<class 'tuple'>
average is 46.5

In [8]:
sum=8
for i in range(21):
    sum=sum+i
    print(sum)

8
9
11
14
18
23
29
36
44
53
63
74
86
99
113
128
144
161
179
198
218

In [13]:
def average(*numbers):
    print(type(numbers))
    sum=4
    for i in numbers:
        sum=sum+i
    return sum/len(numbers)
c=average(8,7,9,8,7)
print(c)

<class 'tuple'>
8.6

In [13]:
# list is a dat type enclose in curly brackers
name=["jiya","malik",89.9, 78,8,8,9,0,6,5,"jh"]
print(len(name))
print(name[4:])
print(name[2::1])# here firt is starting number second one is ending number while last one is jump 
print(name[2:-9])
print(name[3:-1])

11
[8, 8, 9, 0, 6, 5, 'jh']
[89.9, 78, 8, 8, 9, 0, 6, 5, 'jh']
[]
[78, 8, 8, 9, 0, 6, 5]

In [19]:
#list comprehension# on the fly list jko generate krna 
lst=[i for i in range(5)]
print(lst)
lst=[i*5 for i in range(5)]
print(lst)
lst=[i for i in range(12)if i%2==0]# onle print even
print(lst)
lst=[i for i in range(12)if i%2!=0]# onle print odd
print(lst)

[0, 1, 2, 3, 4]
[0, 5, 10, 15, 20]
[0, 2, 4, 6, 8, 10]
[1, 3, 5, 7, 9, 11]

In [27]:
# methods in list 
# appwend method: kisi bhi list ka last pa digit ko add krna kaliya is timal hota 
l=[4,6,9,0]
l.append(7)
print(l)
#print(l.append(7))# checked 
#sort method:assending order ma krta h list ko arrange
l.sort()
print(l)
l.sort(reverse=True)# descending ma arrangr krdai ga
print(l)
# reverse method is use to reverse the lisdt
l=[9,9,8,7,6,5]
l.reverse()
print(l)
# index method: use to find the index of list
print(l.index(8))# ya btadai ga list ma index khaaa pra h 
print(l)
# count method use to find the how many times a number repeat
print(l.count(9))
# copy method:list ki new copy bnadai ga
m=l.copy()
m[0]=0
print(l)
print(m)
#insert method:jb hum kisi specific inxdex orr koi number insert krna chahai to ya yuse krtai
l.insert(3,11)# ya 3 index prr 11 ko insert krdai ga
print(l)
#extend method:1 list ma dosri list ko add krka extend krdena
l=[8,9,0,7,5,4]
print(l)
n=[5,6,"jiya"]
l.extend(n)
print(l)
a=[6,89,7,0,3]
b=[7,9,0,7]
k=(a+b)
print(k)
# pop method use to remove any digit at given index
k.pop(3)
print(k)

[4, 6, 9, 0, 7]
[0, 4, 6, 7, 9]
[9, 7, 6, 4, 0]
[5, 6, 7, 8, 9, 9]
3
[5, 6, 7, 8, 9, 9]
2
[5, 6, 7, 8, 9, 9]
[0, 6, 7, 8, 9, 9]
[5, 6, 7, 11, 8, 9, 9]
[8, 9, 0, 7, 5, 4]
[8, 9, 0, 7, 5, 4, 5, 6, 'jiya']
[6, 89, 7, 0, 3, 7, 9, 0, 7]
[6, 89, 7, 3, 7, 9, 0, 7]

In [44]:
m=[i for i in range(12)]
print(m)
n=[67,78]
m.extend(n)
print(m)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 67]

In [20]:
#tuple: is equally use it is un changeable
tuple=(9,7,0,5,"jiya")
print(tuple)
# agrr ek digit ko bracket ma enclose krna ho to digit ka baad comm algaka chohrna compulssory hota ha 
tup=(5,)# comma lgan compulsory ha otherwise wo usa class integer consider krlai ga 
print(tup)
print(type(tup))
# agrr hum tupple ki value jko change krna chahi to ya possible nhi or error daiga
#tuple[1]=8
#print(tuple)
tuple=[9,7,0,5,"jiya"]
tuple[1]=8
print(tuple)# list ma change krdai ga lkin tuple un changeable hota ha error daiga 
# give index number to find indexing of integer
print(tuple[3])
print(tuple[0:-3])
print(len(tuple))
# conditio use in tuple
if 7 in tuple:
    print("yes")
else:
    print("no")
if "jiya" in tuple:
    print("yes")
else:
    print("no")
#slicing
tup2=tuple[0:4:1]
print(tup2)

(9, 7, 0, 5, 'jiya')
(5,)
<class 'tuple'>
[9, 8, 0, 5, 'jiya']
5
[9, 8]
5
no
yes
[9, 8, 0, 5]

In [1]:
# method in tuple
countries=("pakistan","india","china","finland","australia")
countries2=list(countries)
print(countries2)
countries2.append("russia")#add
countries2.reverse()#reverse
print(countries2)
countries2.pop(3)#remove
print(countries2)
countriesi=tuple(countries2)
print(countriesi)
tup=(0,1,4,6,7,8,45,78,45,6,8,9,0,5)
# count method determine the occurnace of specific number in tuple 
res=tup.count(3)
res=tup.count(45)# count method 
print(res)
# index method determine the index of specific number
res2=tup.index(45)
print(res2)
# agrr hum specific index pr specific area ma btana chhaai to hum uski slicing krai ga 
res4=tup.index(45,1,7)# first number jiska ki index find krni 2or 3 number range btai ga ismai krni h 
print(res4)
# value error: agrr value tuple ma na jo to value error raise krai ga

['pakistan', 'india', 'china', 'finland', 'australia']
['russia', 'australia', 'finland', 'china', 'india', 'pakistan']
['russia', 'australia', 'finland', 'india', 'pakistan']
('russia', 'australia', 'finland', 'india', 'pakistan')
2
6
6

In [9]:
countries=("pakistan","india","china","finland","australia")
countries2=list(countries)
print(countries2)

['pakistan', 'india', 'china', 'finland', 'australia']

In [12]:
# f string: is an string formatting method
letter="my name is {0} and i am from {1}"
name="jiya"
country="pakistan"
print(letter.format(name,country))# string method
print(f"my name is {name }and my country name is {country}")# write the above in short form in f string
price=49.09875
txt=f"the price of car is{price:.2f}dollars!"# here .2f only 2 float is allowed
#print(txt.format(price=49.05643))
print(txt)
print(f"{2*78}")
# agrr hum chahtai h ka curly bracket ki value as it is hi print ho to {{}}bracket use krai
print(f"my name is {{name}}and my country name is {{country}}")

my name is jiya and i am from pakistan
my name is jiyaand my country name is pakistan
the price of car is49.10dollars!
156
my name is {name}and my country name is {country}