In [1]:
# sets contain non repeated value 
# sets doesnot conatin repeated value
set={8,9,6,6,54}# 6 will print only time
#it does not maintain any order
#set are unchangeable
print(set)

{8, 9, 6, 54}

In [2]:
set={"jiya","jiya"}
print(set)

{'jiya'}

In [3]:
info={"carla","98",78,98,9.07,True}
print(info)

{True, 98, 'carla', 9.07, '98', 78}

In [4]:
harry={}# it will give dictionary becuse the syntax of set and dictionary is almost same
print(type(harry))

<class 'dict'>

In [1]:
# to create an empty set
harry=set()
print(type(harry))

<class 'set'>

In [1]:
# sets contain non repeated value 
s1={2,3,6,9}
s2={778,0,8,7}
print(s1,s2)

{9, 2, 3, 6} {0, 8, 778, 7}

In [2]:
# union mthod
print(s1.union(s2))

{0, 2, 3, 6, 7, 8, 9, 778}

In [4]:
#intersection method
print(s1.intersection(s2))

set()

In [6]:
s3={7,7,9,4,5}
s4={9,7,6,4,0}
print(s3.intersection(s4))

{9, 4, 7}

In [7]:
# update method
print(s3.update(s4))

None

In [8]:
#update the value of s3 with s4 but aslo print s4
s3.update(s4)
print(s3,s4)

{0, 4, 5, 6, 7, 9} {0, 4, 6, 7, 9}

In [10]:
# symmetric difference
# gave those values which are not common
s3={"khi","lhr","fsd","multan"}
s4={"khi","lhr","fsd","pak","india","china","bangla"}
s5=s3.symmetric_difference(s4)
print(s5)

{'pak', 'india', 'bangla', 'multan', 'china'}

In [11]:
# isdisjoint method
print(s3.isdisjoint(s4))# return value in true and false

False

In [12]:
#issuperset
print(s3.isdisjoint(s4))

False

In [13]:
#is subset
print(s4.issubset(s5))

False

In [14]:
a={7.9,7,8,5,4,6,32,0}
b={6,8}
print(a.isdisjoint(b))

False

In [15]:
print(a.issuperset(b))

True

In [16]:
print(b.issuperset(a))

False

In [18]:
print(a.issubset(b))

False

In [22]:
# add method
a.add(9)# give value whuch you want to add
print(a)

{32, 0, 4, 5, 6, 7, 8, 7.9, 9}

In [23]:
#remove method
print(a)

{32, 0, 4, 5, 6, 7, 8, 7.9, 9}

In [25]:
# remove me,thod
a.remove(32)
print(a)
a.remove(64)# will raise error
print(a)

KeyError: 32

In [26]:
a.discard(32)
print(a)
a.discard(64)

{0, 4, 5, 6, 7, 8, 7.9, 9}

In [1]:
import copy

set1 = {1, 2, (3, 4)}
set2 = copy.deepcopy(set1)

print(set2) # Output: {1, 2, (3, 4)}

set1.add((5, 6))

print(set1) # Output: {1, 2, (3, 4), (5, 6)}
print(set2) # Output: {1, 2, (3, 4)}

{1, 2, (3, 4)}
{1, 2, (5, 6), (3, 4)}
{1, 2, (3, 4)}