In [1]:
# Write a function that takes two arguments, a and b, and returns their sum.
def sum(a,b):
    sum=a+b
    return sum
sum(5,6)

11

In [1]:
#Write a function that takes a list of numbers and returns the sum of all the numbers in the list.
def sum_list(numbers):
    return sum(numbers)
sum_list((1,8,9,6,3,2,2))

31

In [2]:
def sum_list(numbers):
    return sum(numbers)
sum_list((9,0,7,6,5))

27

In [3]:
#Write a function that takes a string and returns the length of the string.
def length(str):
    return len(str)
length("hello jiya weather seems nice")

29

In [4]:
#Write a function that takes a list of strings and returns the length of the longest string in the list
def longest_str(str):
    max_len=0
    for x in str:
        if len(x)>max_len:
            max_len=len(x)
    return max_len
longest_str(["hello","nice","to","meet","talk","too","you"])

5

In [7]:
#Write a function that takes a list of numbers and returns a new list containing only the even numbers 
#from the original list
def even_list(numbers):
    even=[]
    for x in numbers:
        if x%2==0:
            print(x,end=" ")
even_list([2,3,4,5,6,7,7,8,9,20,10,2,4,5,6,78])

2 4 6 8 20 10 2 4 6 78

In [11]:
#Write a function that takes a list of numbers and returns the maximum number in the list
def maximum(list):
    return max(list)
maximum([2,56,87,9,4])
maximum((67,89,90))# tuple could also be given

90

In [10]:
"""Write a function that takes a list of strings and returns a new list containing only the strings that start 
with the letter 'a'."""
def start_a(str):
    list=[]
    for x in str:
        if x.startswith("a"):
            list.append(x)
    return list
start_a(["apple","bnana","cat","airplan"])

['apple', 'airplan']

In [12]:
"""Write a function that takes a list of numbers and returns a new list containing only the numbers that are 
divisible by 3."""
def dividend_3(list):
    divisible=[]
    for x in list:
        if x%3==0:
            print(x,end=" ")
dividend_3([1,2,3,4,5,6,7,8,9,12,15])

3 6 9 12 15

In [3]:
"""Write a function that takes a list of strings and returns a new list containing the reverse of each string."""
def input_str(str):
    y=str.split()
    y.reverse()
    return " ".join(y)
input_str("j i y a")

'a y i j'

In [5]:
def input_str(str):
    y=str[::-1]
    return y
input_str(["jiya","malik","weather"])

['weather', 'malik', 'jiya']

In [9]:
def input_str(list):
    str=[]
    for x in list:
        new_str=x[::-1]
        str.append(new_str)
    return str
input_str(["jiya","malik","weather"])

['ayij', 'kilam', 'rehtaew']

In [16]:
"""Write a function that takes a string and returns True if the string is a palindrome (i.e., it reads the same 
forwards and backwards), and False otherwise"""
def is_palindrome(str):
    return str==str[::-1]
is_palindrome("madam")
is_palindrome("avocado")

False