In [9]:
#pass fail calculator

In [10]:
Fail=[]
Pass=[]

In [17]:
Fail=[]
Pass=[]
stu_name=input("enter student name")
obtain_num=int(input("enter your num"))
total_num=int(input("enter ypur num"))
perc=(obtain_num/total_num)*100
if 60<= perc <90:
  Pass.append(stu_name)
else:
  Fail.append(stu_name)
print(Pass)
print(Fail)

enter student namej
enter your num78
enter ypur num100
['j']
[]

In [33]:
import pandas as pd

In [34]:
import numpy as np

In [35]:
ser1=pd.Series(["comp1","comp2","comp3","comp4","comp5","comp6","comp7"])
ser2=pd.Series([4.2,4.7,4.8,5,4.9,4.2,4.3])
ser3=pd.Series([6,9,10,6,5,9,8])
ser4=pd.Series(["30 persons","40 persons","50 persons","70 persons","80 persons","90 persons","60 persons"])
dic={"ser1":"companies","ser2":"rating","ser3":"total projects","ser4":"total persons"}

In [36]:
dic

{'ser1': 'companies',
 'ser2': 'rating',
 'ser3': 'total projects',
 'ser4': 'total persons'}

In [37]:
ser1

0    comp1
1    comp2
2    comp3
3    comp4
4    comp5
5    comp6
6    comp7
dtype: object

In [42]:
data = {dic[key]: value for key, value in locals().items() if key in dic.keys()}
data1=pd.DataFrame(data,index=[1,2,3,4,5,6])

In [43]:
data1

  companies  rating  total projects total persons
1     comp2     4.7               9    40 persons
2     comp3     4.8              10    50 persons
3     comp4     5.0               6    70 persons
4     comp5     4.9               5    80 persons
5     comp6     4.2               9    90 persons
6     comp7     4.3               8    60 persons

In [47]:
dic.items()

dict_items([('ser1', 'companies'), ('ser2', 'rating'), ('ser3', 'total projects'), ('ser4', 'total persons')])

In [49]:
dic.keys()

dict_keys(['ser1', 'ser2', 'ser3', 'ser4'])